---
import Nav from '../components/Nav.astro';
---

<body>
<Nav />

<h1>Why Work with Neon</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid, autem commodi corporis cupiditate, et explicabo facilis ipsam nam, neque ratione sunt voluptate voluptatem. Explicabo itaque minima numquam odit pariatur!
</p>
</body>